#main > h1 {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  font-family: Futura, sans-serif;
  color: rgb(190, 190, 190);
  text-shadow: rgb(67, 67, 67) 0px 0px 15px;
  font-size: 40px;
}

.li {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  color: red;
}
