#item-container {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: rgb(214, 214, 214);
  text-shadow: rgb(67, 67, 67) 0px 0px 15px;

  margin-left: 10px;
  margin-right: 5px;
  border-radius: 5px;
  align-items: center;
  column-gap: 10px;
  display: flex;
  justify-content: flex-start;
  width: 500px;
  height: 593.19px;
  overflow: hidden;
  flex-wrap: wrap;
}

#item-container img {
  border: #222 0.2rem solid;
  box-shadow: 5px 5px 5px rgb(51, 51, 74);
  width: 81.48px;
  height: 81.48px;
}

#item-container img:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: rgb(192, 192, 192) 0.2rem solid;
  box-shadow: 0 60px 80px rgba(46, 46, 46, 0.76),
    0 45px 26px rgba(0, 0, 0, 0.14);
}

#item-container img:active {
  transition: all 0.3s ease-in-out;
  border: red solid 0.2rem;
  box-shadow: 0 60px 80px rgba(46, 46, 46, 0.76),
    0 45px 26px rgba(0, 0, 0, 0.14);
}

#item-page {
  display: flex;
}

#primary {
  display: flex;
  flex-direction: column;
}

#primslot-container {
  display: flex;
  flex-direction: row;
}

.primary-slot {
  margin: 5px 5px 5px 5px;
}

#secondary {
  display: flex;
  flex-direction: column;
}

#secslot-container {
  display: flex;
  flex-direction: row;
}

.secondary-slot {
  margin: 5px 5px 5px 5px;
}

#heavy {
  display: flex;
  flex-direction: column;
}

#hevslot-container {
  display: flex;
  flex-direction: row;
}
.heavy-slot {
  margin: 5px 5px 5px 5px;
}
