.modal-container {
  margin: 0;
  overflow: hidden;
  background: #111;
}

.scene {
  perspective: 800px;
  perspective-origin: 50% 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: flat;
}

.traveler-container {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
}

.traveler {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 50% 10%, #fff, transparent);
  border-radius: 50%;
  box-shadow: 0 0 100px -5px rgba(255, 255, 255, 0.8);
  transition: all 0.1s ease-in-out;
  animation: pulsate 2.5s infinite alternate; /* Added animation */
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 50px -5px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 50px 0px rgba(255, 255, 255, 1);
  }
}

.traveler:hover {
  box-shadow: 0 0 70px 0px rgba(255, 255, 255, 1);
  transform: scale(1.075);
  animation: none; /* Disable pulsating animation on hover */
}
