@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#text-container {
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 5px;
  width: 100%;
  height: 593.19px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.img-txt {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  text-shadow: rgb(67, 67, 67) 0px 0px 15px;
  color: rgb(214, 214, 214);
  z-index: 1;
  position: absolute;
  top: 66px;
  left: 20px;
}
.prop-txt:first-child {
  font-weight: bold;
  // font-size: 26;
}

.prop-txt:last-child {
  font-style: italic;
  font-weight: lighter;
  // font-size: 18;
}

.text-img {
  box-shadow: -20px 100px 100px rgb(0, 0, 0), 20px -20px 100px rgba(0, 0, 0, 0);
  animation: fadeIn 1s 1 forwards;
  z-index: 0;
}
