@import './styles/example.scss';

@font-face {
  font-family: Futura;
  // src: url(/fonts/Futura/FuturaRegular/FuturaRegular.ttf);
  // src: url(/fonts//Futura/FuturaBold/FuturaBold.otf);
  src: url('../fonts/Futura/FuturaHeavy/FuturaHeavy.otf');
}

body {
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #aa9db3, #1b1a1a);
  height: 100vh;
  width: 100vw;
}

.fa-icon-container {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  display: flex;
}

.fa-brands:hover {
  color: #b43e3e;
  cursor: pointer;
}
