@import './styles/example.scss';

#main {
  color: rgb(190, 190, 190);
  font-size: 30px;
}

body {
  background-image: linear-gradient(to bottom right, #b4b4b4, #1b1a1a);
}

// body {
//   background-image: url('../assets/traveller_bkg.png');
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
//   backdrop-filter: blur(50px);
// }
