@import './styles/example.scss';

@font-face {
  font-family: Futura;
  // src: url(/fonts/Futura/FuturaRegular/FuturaRegular.ttf);
  // src: url(/fonts//Futura/FuturaBold/FuturaBold.otf);
  src: url('../fonts/Futura/FuturaHeavy/FuturaHeavy.otf');
}

#main {
  // height: 100%;
  // width: 100%;
}

body {
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #aa9db3, #1b1a1a);
  height: 100vh;
  width: 100vw;
}

.fa-icon-container {
  display: flex;
  bottom: 0;
}

.fa-brands {
  color: red;
  cursor: pointer;
}
